/*.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd {
	border: none;
} */

.ui-widget {
	font-size: 90% !important;	
}

.ui-panelmenu .ui-panelmenu-header a {
	color: black;
}

#mainFooter {
	font-family: Verdana,sans-serif;
	color: grey;
	font-size: 10px;
	font-weight: bolder;
}

#mainHeader {
	font-family: Verdana,sans-serif;
	color: black;
	font-size: 60px;
	font-weight: bolder;
}

input.ui-autocomplete-input {
	width: 83.3333%;
}

.ui-button {
	padding-top: 5px;
	padding-bottom: 5px;	
}

.ui-state-disabled {
	opacity: .9;
}

.ui-datepicker {
	z-index: 2 !important
}

.ui-datepicker .ui-datepicker-next {
	top: .3em !important;
}

.ui-datepicker .ui-datepicker-prev {
	top: .3em !important;
}