<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	<f:view renderKitId="PRIMEFACES_MOBILE" />

<h:head>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/public/images/wpattern_wproject.ico" />
	<title>ADMIN MAIS BONITA</title>
</h:head>

<h:body onload="document.getElementById('j_username').focus();">
	<div id="content" title="Mais Bonita Login">
		<p:panel header="#{labels.login_go} Administrativo Salão Mais Bonita" id="dialog" visible="true" class="ui-grid ui-grid-responsive">
			<form name='login' action="../j_spring_security_check" method='post' >
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-12" value="#{labels.login_username}" />
					</div>
					<div class="ui-grid-row">
						<input id="j_username" name="j_username" type="text" />
					</div>

					<div class="ui-grid-row">
						<p:outputLabel value="#{labels.login_password}" />
					</div>
					<div class="ui-grid-row">
						<input id="j_password" name="j_password" type="password" />
					</div>
					
					<div class="ui-grid-row">
						<c:if test="${param.erro == 'true'}">
							<p:outputLabel value="#{labels.login_invalid}" style="color: red; font-size: small;" /> <br/> <br/>
						</c:if>
					</div>
							
					<p:outputPanel style="width: 100%;" layout="block">
						<button name="submit" type="submit">#{labels.login_action_go}</button>
					</p:outputPanel>
			</form>
		</p:panel>
	</div>
</h:body>
</html>