<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../main.xhtml">

	<ui:define name="content">
		<p:panel id="userPanel" header="#{labels.menu_upload_img}">
			<iframe src="http://www.salaomaisbonita.com/upload" 
			style="min-height: 450px; left:0px; bottom:0px; right:0px; width:100%; height:100%; 
				border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
			</iframe>
		</p:panel>
	</ui:define>
</ui:composition>
