<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../main.xhtml">

	<ui:define name="content">
		<p:button value="Buscar Profissional" href="/admin/pages/employee/list.faces"
					             	ajax="false" icon="ui-icon-search"/>
		<h:form>
						             	
			<h:messages errorClass="error"/>
			<h:inputHidden value="#{employeeAddEditMB.employee.id}" />

			<div class="ui-grid ui-grid-responsive">
				<p:panel header="#{employeeAddEditMB.title} #{labels.employee}">
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_cpf" value="#{labels.employee_cpf}: " />
						<p:inputMask styleClass="ui-grid-col-2" id="employee_cpf" mask="999.999.999-99" value="#{employeeAddEditMB.employee.cpf}" required="true"/>
					</div>
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_rg" value="#{labels.employee_rg}: " />
						<p:inputText styleClass="ui-grid-col-2" id="employee_rg" value="#{employeeAddEditMB.employee.rg}" required="true"/>
					</div>
				
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_name" value="#{labels.employee_name}: " />
						<p:inputText styleClass="ui-grid-col-4" id="employee_name" value="#{employeeAddEditMB.employee.name}" required="true" />
	
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_mail" value="#{labels.employee_mail}: " />
						<p:inputText styleClass="ui-grid-col-4" id="employee_mail" value="#{employeeAddEditMB.employee.mail}" required="true" type="email"/>
					</div>
					
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_address" value="#{labels.employee_address}: " />
						<p:inputText styleClass="ui-grid-col-4" id="employee_address" value="#{employeeAddEditMB.employee.address}" required="true"/>
					
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_phone" value="#{labels.employee_phone} (99) 99999-9999: " />
						<p:inputText styleClass="ui-grid-col-2" id="employee_phone" widgetVar="employee_phone" type="tel" value="#{employeeAddEditMB.employee.phone}" required="true"/>
					</div>
					
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_birthDate" value="#{labels.employee_birthDate}: " />
						<p:calendar styleClass="ui-grid-col-2" id="employee_birthDate" value="#{employeeAddEditMB.employee.birthDate}" required="true" pattern="dd/MM/yyyy" navigator="true" mode="inline" mask="99/99/9999" locale="pt_BR" yearRange="c-80:c+0"/>
					</div>
					
					<div class="ui-grid-row">
						<p:outputLabel styleClass="ui-grid-col-2" for="employee_meetByOrder" value="#{labels.employee_meetByOrder}: "/>
						<p:selectOneRadio styleClass="ui-grid-col-2" id="employee_meetByOrder" required="true" value="#{employeeAddEditMB.employee.meetByOrder}">
							<f:selectItem itemLabel="#{labels.opt_no}" itemValue="false"/>
							<f:selectItem itemLabel="#{labels.opt_yes}" itemValue="true"/>
						</p:selectOneRadio>
					</div>
					
					<p:commandButton value="#{labels.button_save}"
						action="list.faces" actionListener="#{employeeAddEditMB.save}"
						style="margin: 130 auto;" ajax="false" />
				</p:panel>
			</div>
		</h:form>
		<h:outputScript>
        		var $this = PF('employee_phone');
	        if($this) {
	            $this.input.mask("(99) 99999-9999");
	        }
		</h:outputScript>
	</ui:define>
</ui:composition>
