<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">
	
	<f:view renderKitId="PRIMEFACES_MOBILE" />
	<f:view locale="#{languageMB.localeCode}">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/main.css" />
		<script type="text/javascript" src="#{request.contextPath}/resources/js/main.js" />
		<script type="text/javascript" src="#{request.contextPath}/resources/js/locale-primefaces.js" />
		<script type="text/javascript" src="#{request.contextPath}/resources/js/no-back.js" />
		<script type="text/javascript" src="#{request.contextPath}/resources/js/jquery.mask.min.js" />
		<title>ADMIN MAIS BONITA</title>
		<script type="text/javascript">
			var originalPrimeFacesCw = PrimeFaces.cw;
			PrimeFaces.cw = function(name, id, options, resource) {
			    resource = resource || name.toLowerCase();
			    originalPrimeFacesCw.apply(this, [name, id, options, resource]);
			};
		</script>
		<ui:insert name="css"/>
	</h:head>
	
	<h:body>	
		<h:form>
			<p:commandButton value="HOME" action="/admin/pages/home.faces" ajax="false"  icon="ui-icon-home"/>
		</h:form>
		<ui:insert name="content"/>
	</h:body>
</f:view>
</html>
