<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../main.xhtml">

	<ui:define name="content">
		<f:view>
			<f:event listener="#{clientMB.onLoad}" type="preRenderView" />
		</f:view>

		<h:form id="clientForm">
		<p:panel id="clientPanel" header="#{labels.client}">
				<p:inputText id="filterName" value="#{clientMB.filterName}"/>
				<p:commandButton id="buttonFind" value="Consultar" actionListener="#{clientMB.filterCliente}" process="@form" update="clientPanel"/>
				<p:dataTable id="clientDataTable" widgetVar="dataTable"
					var="client" loadingMessage="#{labels.client_load}"
					value="#{clientMB.clients}" paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,20" rowKey="#{client.id}" tableStyleClass="ui-table-columntoggle">
					<p:column width="55">
							<f:facet name="header">
								<h:outputText value="Ação" />
							</f:facet>
							<div style="text-align: center;">
								<p:commandButton icon="ui-icon-edit"
									update="clientDataTable" 
									action="/admin/pages/client/addEdit.faces"
									actionListener="#{clientAddEditMB.update(client.id)}" />
								<p:commandButton icon="ui-icon-delete" 
								actionListener="#{clientMB.setIdToDelete(client.id)}" onclick="PF('dialog_delete').show()"/>
							</div>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="#{labels.client_name}" />
						</f:facet>
						<h:outputText value="#{client.name}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{labels.client_phone}" />
						</f:facet>
						<h:outputText value="#{client.phone}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{labels.client_birthDate}" />
						</f:facet>
						<h:outputText value="#{client.birthDateFormat}" />
					</p:column>
					
				</p:dataTable>
		</p:panel>
		</h:form>
				<p:dialog id="dialog_delete" widgetVar="dialog_delete" closable="false" resizable="false" appendTo="@(body)" 
					position="center" modal="true" width="200" height="70" header="Confirmar?">
						<p><h:outputText value="Deseja Excluir?" /></p>
						<div style="text-align: center;">
							<p:commandButton value="Sim" onclick="PF('dialog_delete').hide()" 
							actionListener="#{clientMB.delete}" process="@this" update="clientForm"/>
							<p:commandButton value="Não" type="button" onclick="PF('dialog_delete').hide()" />
						</div>
				</p:dialog>
	</ui:define>
</ui:composition>
